# npmjs.com recommendeded files to ignore
CVS
.svn
.hg
.lock-wscript
.wafpickle-N
.*.swp
.DS_Store
._*
npm-debug.log
.npmrc
config.gypi
*.orig
package-lock.json

# NodeJS files to ignore
node_modules

# Yarn v2 (Berry) Zero-Install recommended files to ignore
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
